<div id="form2-preview">
    <h2 style="text-align:center;margin-top:100px">FORM 2 (RULES 5 (A), 13 (A) AND 17 (A))</h2>
    <div style="text-align:right">
        <span>Court of Appeal File No. </span>
        <span>{formSevenNumber}</span>
    </div>

    <h3 style="text-align:center;margin-top:50px;margin-bottom:30px">COURT OF APPEAL</h3>
    <table style="width:100%"><tbody>
    <tr>
        <td style="font-weight:bold; vertical-align:top;">BETWEEN:</td>
        <td id="appellant-name" style="padding-left:4px;">{appellants}</td>
        <td style="text-align:right; font-weight:bold; padding-left:70px; vertical-align:top;">{appellantsLabel}</td>
    </tr>
    <tr>
        <td colspan="3" style="height:50px"></td>
    </tr>
    <tr>
        <td style="font-weight:bold; vertical-align:top;">AND:</td>
        <td id="respondent-name" style="padding-left:4px;">{respondents}
        </td>
        <td style="text-align:right; font-weight:bold; padding-left:70px; vertical-align:top;">{respondentsLabel}</td>
    </tr>
    </tbody></table>

    <h3 style="text-align:center;margin-top:50px">NOTICE OF APPEARANCE</h3>
    <table style="width:100%"><tbody>
    <tr>
        <td>
        <strong>Enter an appearance on behalf of:</strong>
        </td>
    </tr>
    <tr>
        <td>{selectedRespondents}</td>
    </tr>
    <tr><td><strong>Address for service:</strong></td></tr>
    <tr>
        <td>
            {selectedContactAddress1}
            &nbsp;
            {selectedContactAddress2}
            <br/>
            {selectedContactCity}, {selectedContactProvince}, {selectedContactPostalCode}
            <br/>
            Canada
        </td>
    </tr>
    {if useServiceEmail}
    <tr><td><strong>I agree to accept documents served to the following email address:</strong></td></tr>
    <tr>
        <td>
            {selectedContactEmail}
        </td>
    </tr>
    {endif useServiceEmail}
    </tbody></table>

    <p style="text-align:right;margin-top:100px">
        <span style="margin-right:150px;">&#34;Electronically Filed&#34;</span>
        <br/>
        ............................................................................................................
        <br/>
        <em>Respondent/Solicitor for the Respondent</em>
    </p>

</div>
