@font-face {
    font-family: 'Myriad-Pro';
    src: url('/client/fonts/MyriadWebPro.woff') format('woff');
}

body {
    margin: 0px;
    font-family: Myriad-Pro, sans-serif;
    background-color: #f1f1f1;
}
