@font-face {
    font-family: 'Myriad-Pro';
    src: url('/client/fonts/MyriadWebPro.woff') format('woff');
}
@font-face {
    font-family: 'Icons';
    src: url('/client/fonts/open-iconic.woff') format('woff');
}

body {
    margin: 0px;
    font-family: Myriad-Pro, sans-serif;
    background-color: #f1f1f1;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
li {
    display: inline-block;
    vertical-align: top;
}

.centered {
    padding-left: 10%;
    padding-right: 10%;
}
.content {
    padding: 10px;
}
.page {
    padding-top: 30px;
}
.section {
    background-color: white;
    padding: 10px;
}
.title {
    font-size: 18px;
    font-weight: 600;
    color: #494949;
}
.navigate {
    display: inline-block;
    padding: 10px 12px 10px 12px;
    color: #fff;
    background-color: #38598a;
    border-color: #003366;
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}
.action {
    width: 30px;
    height: 25px;
    cursor: pointer;
    padding: 10px 5px 5px 5px;
    color: rgb(0, 51, 102);
    border: 1px solid rgb(0, 51, 102);
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
}
